Source: dnssec-check
Section: user/network
Priority: extra
Maintainer: Wes Hardaker <wjhns177@hardakers.net>
Build-Depends: debhelper (>= 5), libqt4-dev, libval-threads-dev, libsres-dev, libssl-dev
Standards-Version: 3.7.2
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwEAYAAAAHkiXEAAAABmJLR0T///////8JWPfcAAAACXBI
 WXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAwAAAAMADO7oxXAAAS3UlEQVR42u2beXTN19rHP2dK
 cjLIIBUhKTFklDTGeCViCkJIQqolrVK0SuuGulXcW1yvokVjpqaWalQQNfaSEkWCGoKIREhIGhKR
 ec45Oed5/6Cr77pt1a1Wet1+1jrrOeuc/dvP9+zvHtbev99RyAP4kwZB2dAC/lPQWUofnSUkRZS7
 JkVAyr2qRSn3AFtOYvvr6/3TgF/AOIwI4zDYvCT/lc1LYGRC2u2RCTDJ5fqtSS6Q3L7ys+T2v77+
 Pw34BTJDakIyQ2Ddxjse6zZCVkm1LqsEruyuGnJlN+Rsr7uQs/3X1/+nAT+DMYBwYwAkaEuTErRw
 qbiyzaViAGoB3M+ZK93PQUet5aGO2l+f508DfobS3vXppb1ha91dttaBPlPe12eCSVuVs0lbCEuw
 XxSWAE6WpnZOlo+RSP7kJ4nRl7bblShikpZ02PJZEUjIAJE2csayTY1I1rO1525uefw86h85Yswe
 mT0SuLStYlsFMLFWX6sH7Ezmm8wHYp2SnZIBi4C9AXsBWsW1ivt/19eXnio9Bai3O253BGjaumlr
 gDBDmAEQvPEG6pNmJM0A1NWR1ZGAIoggAG7uu7kPyI33i/cDXrq75O4SIMj8svll4L32Fe0rAPwN
 /gYATZwmDiA5Ojka2HnC9YQrsKziasVV4C3b3ra9gRf9e/v3BvBV+6oBQ5myTAmUbc/YngGMyVuc
 txjoRSW9wU5dHHhIBa9kmwZU3oQYnyA72kCErsW957PB6d27+UYLoCbh3c3zgfDc2Nz1wGCLGxY3
 gLe6ru+6HqDj+Y7nATTrNet/PAB+MODG/VDkdWr1qdVQ8MbcwLmBsKZScVhxGMxetMyyzAK/b+wt
 7S2hp9WWF7a8AI2t5/jP8Qd8AroEdIGSaVm5Wblgkr2gz4I+oN5nu9R2KZg+4z3JexIYgloktUiC
 olY7E3cmgm2msbOxM6gG+lzzuQbV2ikbp2yEgx9dnHxxMpy6Xb61fCs4tNDmaHPAf1tPdU81dLrp
 7unuCdqZd+ru1EHetklnJ52FXd1yZuTMgBsDaoJrgsH1iu1a27UQMD/PPs8evHu0299uP5StyHLL
 cgPdsUWbFm2AFZ1vL7hjhOxRymG6CtBPNYYZdkJRUw97IqGpe1AbJw2ENinc5foC1G2ap5r6FeyN
 STe5mgan+hTrinXQ/F2L9hbtoc8cj0Meh8D9syV1S+rAZIAnnjzMgPL7oSqwelj1MGhS235n+53w
 WkV0enQ6MNxil8UuSM06X3y+GA5ELFu3bB2EzFwYuDAQGvvEHok9AnWv63rrekPtaZPRJqMhRX9r
 3q150Mtxx5AdQ0CROOXjKR9DTW/9ef15sF6ifkv9FtSGpjinOENxysWWF1uC6uwk9SQ1jOsRdjfs
 LpS2KXAocICKqHsB9wKgZpVpnWkdKIcmXki8ADkLimYXzYY251eeWHkCeg3y7uzdGfJzb8XfioeS
 a8YkYxIYNygjlZFQm1bnXecNJnk2mTYbIHTc0tAPVsP71patdo2HPZvyn922E0BzjBAY4+s0JygV
 2tQtPfT1UfhqbkbatQio3zg9bfppGD2ky4AuA6D41YJZBbPg5PKTa06uAWtn1ULVQmhxmyiiHmaA
 4kEspJZa0P5De1x7HNq+1GZMmzFg1tRO7AS8DV54AWev6QP0AVC2fKFyoRIaUxVeFQ6KMYpXFa+C
 KrqRTSMb4A2/Q36H4Na83Y12N4KWw0NmhMwARaJquWo5MAQffCB/oUmCSQKU1DKPeTD44ysnrpwA
 k5FWs61mA3je9LwJnO3j28cXjM9Z9LXoCymfajI1mWA1qO6ZumegszEpPikelJmV9pX24OXjo/PR
 AT09QzxDAI1qnGocYFCEKcJAE6Fz1JdDy7n75sS9DoO+Mak8vRq83q1yByi2aFv7TA70Gu1u2qUP
 NFqa0X9HPjgcGTXolfEQuP/VyFePATnfN+T99um2JDAgMACUkYqVipU/vwb/eA1QoUIFZJBKKvC/
 EiqhQOaD75vfD45vu3zu8jlYXG20ttFakG26VbpVIMflhJwAMzPNXM1caDYp5GbITchWRKdGp0Lz
 Z/d67vUEjurd9G7AGBMrEyto3LHd5HaTYY8quDq4GuJe2fnRzo+g45Tj3Y93B983LYsti6HF4O7v
 dH8HTC7Nfnn2y2AVEpQTlAMbK/Ys3rMYTCI2Dt04FPzWOvzD4R/gnWj+ofmH0PTFSJtIG1ANmtxk
 chNQRJHJHahIqcmqbgUrWm39Z0wk3F6mfgeAd42WeEDbe4MGt4uDjqf7+3qehHq1PqduFHjO6FrV
 tQ/QhUhG/ETDTlVVqar4RdQ/8ZkBA2DEFVfAwFSm/riQxfSiWUWzoPBqlX2VPViiDlYHg8LlvoHG
 QYZJhknQ4jn3Oe5zoGDd0G5Du0HWF5+WfloKdn5uHdw6AF+7lLiUQKOhtiNsR8B4q+UXl1+EGwMn
 bJqwCdLXXHK45AA7U78u/LoQeqds67StE/h1GlI/pB5cXPoM7DMQpqh3nNlxBq7VXg6+HAzp710y
 XDJASvqXsV/GwnDH1fdW3wNn3ajsUdlAoMJC8SboIyyaKI7BP32mj7b0hovhziMqq0FzWTHL9Aos
 i/Ed8WI3sL5pe76VLVTUKfMUI8EyOnNK5ljgcE96PryN66gDwBTTRzHAkRa0AEWZQWVQgeLZSutK
 awDlKuUqgPQz6WdArftc97kOUk7ZjrEdA81NzdPM04DBnOQkYMYe9oBm/f0h6LIyomNER7hVG9c3
 ri84c2rOqTmgWOvSz6Uf4PSd5jsNWM27NvHaRGjf675B7QlrHNYYKjbYiq1ATkxCWEIYVDhXJ1cn
 g9WS9L7pfcHetCC6IBrs8XD1cAV/PKd6ToV8jyqrKisoc1sdsjoE9Iv1mfpMYKKU4gXiruhpPA5G
 b5uxlWZg+UrTdVSDzyyLWNfOEL6o5eKgbmBzUBvb9Cwc3O3Y1XEY+Pl/2u3TbmDVyG2523IArzVe
 awBKi0qLQI5ccLngAopxfv39+gM3nZ53ev5hBjx4p/9CvVS9FAoyUqamTAXlhAivCC9QnTR/w/wN
 KBmvn6WfBfFFRbuLdoOb3ez5s+eD6UiLZRbLoGyYYr1iPRTpDPGGeHjma2OlsRJcxrfJaJMBqZrw
 5PBkuO0/c+HMhdDkWaPBaIAKqxvWN6yhpNW8d+a9A02q6/vW9wXlbtkgG6BsdvWd6jtwfLmN0cYI
 Pfc7JDokgmpn0rqkdVCnWee9zhvsPlQ7qZ1AEUczmkHuzPsj9YyN62DXwfBqoeVtSy+orJctNdWg
 C6+o0f8TFjhGj6YYql7TXgKwDVdLjoCihY/3LEtg8oKlHzwH9qsm9JiwDbb2jtoVtQv6vRjVKqoV
 2A/W2mntQN9fuU+5D1Jt1YfUh8DbxeVDlw/BCSecHjoFedwPtdN8/H38IXqsfxP/JlATV36k/AiY
 faHdq90LLY66DXMbBr32hx0JOwJ+vQOyA7JB5aK0V9qDcr1zP+d+8MW4IN8gX3j1Xftv7L8BKx0e
 eEDHPaOujroKczOTWye3hh67vDt4d4A+Dp6hnqFw8EDwvuB9kNru2xXfroCq7hXvV7wPTY96JHsk
 w8D64fOHz4e26zrO7zgfbjTVTtNOg30t0+amzYUsj6vNrzYHwz5DW0NbaNO3a0rXFBhSPXrR6EVg
 OcFqnZU77H6z0f5bW+A9X++PS7SgC7/1CR9CkxxN82c8wMPTvJv7GnDpaGqn1UCUTtFMUQhd1/c6
 3ysZ1Hnrm65vCrtWx6TFpMGt69eKrhWBdbpdsF0w9KwLPR16Gmw/cKt0qwTA9idPTX+0Nbv2IDaS
 63JdxKiXVEkVETNJl3QRGfULW7vyBzFMiqVYRLJ/ppybFEqhiPztQbnvWfIgOkqWZImI4kH+flIt
 1Q/J98aDaCHX5JqImEiapInI2/9SfED9Z+X9RUYvSG89+jMROPotiOCaEImIRO24Xjr5fZGqOYZJ
 1ZEi0k4yJVNEbohOdD+Rf+T3W1q5KldFxFVyJVdEbj7aTvi/5ygiR2okRySxU9mExE4izTRJ45tp
 RODoCRBpHpy0unmwSPzE4vj4iU9O1n/NYZw+UpbrI2H31sJ1u7fCHfO6vnfMQRGu2KkIh27p1gu6
 pYP/WOtS/7FPTpf68av4zyC7pjYwuwa+rLpX9WUVUMZ0ysCipXqTRUsY4dBkywgH0HZQhms7PDld
 T/8I+IwiPoPdXQvv7e4K2bfr3LJvA1AJ0GGB5eQOCyCwn83cwH5PXt5TPwJyB+ma5w6COHVhizg1
 6N8wJOrfAI2ZsrHGDF464eD60gmwW6ueaLcWGPrg9YR46kdAfL/i1+L7QWpFZVJqBXCH89wBnwzL
 Sz4Z0Os1mzG9XgPFYaYrDj95fU+tAYUZ+pLCDDiQU9TlQA5UjK8/VDEelP0Vg5X9IWRT400hm8Cl
 2KyvS3HD6Xz6DJjJdWbCeUNFwXkDHLlaMuLIVYD7G9FWK7S1rVbAoHGN2w0aB+pyhb+6vOHkPnUG
 1O425tXuhh3ae8k7tFBqX7+q1B6U0xSuymnQs5OtTc9O4Ftk2cG3qKHVPoUGXMurDryWB19NLz78
 1XQAsgCsj2gcrY9A5OImn0UuBo2Pwl/j09Bqf0cDyoMM/1MeBPkDdcfyB4J8wir55Pf7ITKGBTIG
 tl0syNx2Ee5G6CzuRgAPbjUFdrdeFtgdOvW0Unfq+fvp+PeF/8bk7asrzNsnMmXQDespg0QG7ruU
 PnCfyB7nQrc9ziKGFTLOsOK339Jn5FfPyMgXad/lbF37LiJwNAVEzCq+qTarEInZfrdfzHYR42LZ
 YFz8JA4ZHo3f3IB4TfGJeI2Iw6bEQw6bRODIeRDxGvdtrNc4kbM15Rlna367fMYMOWDMEFnePff1
 5d1FTD/9ZqXppyJwdAOIBMYlrwmME8luW+uf3fZJNu2j8ZtPQW12mHdvswM8VlkM8FgFhClfIwxS
 M6pUqRkwb122ybx1kD9Qdy5/4OPnuxOlm3gnCvb6F3681x/qRhus6kaDyUnVZJOTEHrafmLoaXB+
 2XSC88tPfob5RX4vZw/kFk09kCvi+FVSB8evRCBhOoho5NgdjYj8LTfr2N9yRWr/YrSo/cuvSKCW
 k6IWia0puBlbI2J+8PgM84M/TD0+W87O99kikhZTdSgtpuF6+C/xuy3C/Z1s3+vvBFHznG5EzQOT
 48pyk+OgV4ibXgEbxubFbRgL+zWF3+zXgOTxleQ9ev2VawwtK9fA9h4FO7b3gOqBhvLqgaB6Sfmh
 6iXoN9DuVL+B4NrbPM61d0N384fwezuc/51uQP53IiOsr3YaYS2ijEk4qowRgQQzEOnidb5DFy+R
 y0mViy4nPXq9xy6X9j92WcT2zEkX2zMikDAJRBz9klo6+olceKXivQuvNGDXfkR+932Ag5PmoIMT
 /PWGc7+/3gDvzZYnvTcD3H9Q7NsPyjd/+wEs/ui7fYs/grKo+rtlUT9fX/3zklj/PMT8/a59zN+h
 rFifUnb/KKE1QP837XL6vwnuQebu7kEN3b0fgSdmdS/JkF4iMZ3uro3pJGIz5USRzRQRSBgDItoz
 xxtrz4hE+323K9pPxLBSxhpW/riacwUVfc4ViLi6nnnJ1VUEjh4GEWv9iVvWepGD+qINB/UiMkxS
 ZFhD9+9f5onfkqyeadhYPVPkndBMl3dCRTRdjlVruvwwJbnEnn7GJVYkfkhxfvyQH67TbzZm6zeL
 zJl0s3rOJBFl0rEAZZIIHN0JIuEXUiT8gkjBFt3Sgt/gqeUnRYPdE86ZX7slZ75I8OHLVsGHRSAh
 AkQgoSuI9Ol08VyfTiLZy2qnZy8TyRxcMzxzsEjnbecHdN4mAkfjQMQy+/hpy2yRDW/neW14+/F1
 PWka7CzIeYbpSOcZMO26c9S069DqulZaXQfgDMCxkaVnjo2E6MO5G6MPwwGrorADVnDxVuW9i7cA
 NT6owctg0czLAP0dbQ/2d2zoCf3fp8EP43p0sSnp0QWizjllRJ0Diz2qWIs9YIiSu4Yo+Hj4neCP
 h8Mivhu3CNDPMI7UzwB1iVKlLoHQPfbPhe4Bp/amVk6P8We5hkLx/VBoaCGVHQwXKzvAlJLMsCkl
 sNEhT7fRAeSMLJIzAJg8KFoA0Hq2tqb1bDi4wmfBwRXgWqQtdv0DHC//uzT4CPgeywsqX8sLMPk5
 J7PJz0HnjVafdN4IwPQHRWweRAXA4JjGQwfHQMulZi+0XNrQ6h+Dhl6E/hXjFTlovCKyy+le+C4n
 EYf8xEMO+SJwpAJEmnVMCmnWUSSxc1nzxM4iclbK5WxDq/71/GGmoH+lrkIG11XAlhH5lVtGwOEh
 xbcOD4G+6Xb1fdPhZQ8Hv5c9wHyMcqf5mIZW++v5wxrwPcZjvGA8BqWv118tfR0a+arWNvIFdawi
 QB3b0Ooenz+8AU87f5hF+L+VPw1oYP4P4UM3QzheoHoAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTEt
 MDMtMjhUMDg6MzM6MDUtMDc6MDBYSEhCAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDExLTAzLTI4VDA4
 OjMzOjA1LTA3OjAwKRXw/gAAAFh0RVh0c3ZnOmJhc2UtdXJpAGZpbGU6Ly8vaG9tZS9oYXJkYWtl
 ci9zcmMvZG5zc2VjLWNoZWNrL2Ruc3NlYy1jaGVjay9pbWFnZXMvZG5zc2VjLWNoZWNrLnN2ZyiD
 IhcAAAAASUVORK5CYII=

Package: dnssec-check
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libval-threads
Description: Displays whether your network is DNSSEC compliant.
 DNSSEC compliant networks have upstream DNS resolvers that are able
 to support various DNS features.  Because some of these features are
 fairly new to the DNS protocol, not every network would be suitable
 for performing end-client validation.  This application lets Maemo
 deviecs act as a detection tool for how up to the task a local set of
 resolvers on a wlan network are.  This application is really targeted
 for network administrators and DNS geeks and is not likely useful for
 people that know nothing about the DNS.
XSBC-Bugtracker: https://dnssec-tools.org/trac/
XSBC-Maemo-Display-Name: DNSSEC-Check
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwEAYAAAAHkiXEAAAABmJLR0T///////8JWPfcAAAACXBI
 WXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAwAAAAMADO7oxXAAAS3UlEQVR42u2beXTN19rHP2dK
 cjLIIBUhKTFklDTGeCViCkJIQqolrVK0SuuGulXcW1yvokVjpqaWalQQNfaSEkWCGoKIREhIGhKR
 ec45Oed5/6Cr77pt1a1Wet1+1jrrOeuc/dvP9+zvHtbev99RyAP4kwZB2dAC/lPQWUofnSUkRZS7
 JkVAyr2qRSn3AFtOYvvr6/3TgF/AOIwI4zDYvCT/lc1LYGRC2u2RCTDJ5fqtSS6Q3L7ys+T2v77+
 Pw34BTJDakIyQ2Ddxjse6zZCVkm1LqsEruyuGnJlN+Rsr7uQs/3X1/+nAT+DMYBwYwAkaEuTErRw
 qbiyzaViAGoB3M+ZK93PQUet5aGO2l+f508DfobS3vXppb1ha91dttaBPlPe12eCSVuVs0lbCEuw
 XxSWAE6WpnZOlo+RSP7kJ4nRl7bblShikpZ02PJZEUjIAJE2csayTY1I1rO1525uefw86h85Yswe
 mT0SuLStYlsFMLFWX6sH7Ezmm8wHYp2SnZIBi4C9AXsBWsW1ivt/19eXnio9Bai3O253BGjaumlr
 gDBDmAEQvPEG6pNmJM0A1NWR1ZGAIoggAG7uu7kPyI33i/cDXrq75O4SIMj8svll4L32Fe0rAPwN
 /gYATZwmDiA5Ojka2HnC9YQrsKziasVV4C3b3ra9gRf9e/v3BvBV+6oBQ5myTAmUbc/YngGMyVuc
 txjoRSW9wU5dHHhIBa9kmwZU3oQYnyA72kCErsW957PB6d27+UYLoCbh3c3zgfDc2Nz1wGCLGxY3
 gLe6ru+6HqDj+Y7nATTrNet/PAB+MODG/VDkdWr1qdVQ8MbcwLmBsKZScVhxGMxetMyyzAK/b+wt
 7S2hp9WWF7a8AI2t5/jP8Qd8AroEdIGSaVm5Wblgkr2gz4I+oN5nu9R2KZg+4z3JexIYgloktUiC
 olY7E3cmgm2msbOxM6gG+lzzuQbV2ikbp2yEgx9dnHxxMpy6Xb61fCs4tNDmaHPAf1tPdU81dLrp
 7unuCdqZd+ru1EHetklnJ52FXd1yZuTMgBsDaoJrgsH1iu1a27UQMD/PPs8evHu0299uP5StyHLL
 cgPdsUWbFm2AFZ1vL7hjhOxRymG6CtBPNYYZdkJRUw97IqGpe1AbJw2ENinc5foC1G2ap5r6FeyN
 STe5mgan+hTrinXQ/F2L9hbtoc8cj0Meh8D9syV1S+rAZIAnnjzMgPL7oSqwelj1MGhS235n+53w
 WkV0enQ6MNxil8UuSM06X3y+GA5ELFu3bB2EzFwYuDAQGvvEHok9AnWv63rrekPtaZPRJqMhRX9r
 3q150Mtxx5AdQ0CROOXjKR9DTW/9ef15sF6ifkv9FtSGpjinOENxysWWF1uC6uwk9SQ1jOsRdjfs
 LpS2KXAocICKqHsB9wKgZpVpnWkdKIcmXki8ADkLimYXzYY251eeWHkCeg3y7uzdGfJzb8XfioeS
 a8YkYxIYNygjlZFQm1bnXecNJnk2mTYbIHTc0tAPVsP71patdo2HPZvyn922E0BzjBAY4+s0JygV
 2tQtPfT1UfhqbkbatQio3zg9bfppGD2ky4AuA6D41YJZBbPg5PKTa06uAWtn1ULVQmhxmyiiHmaA
 4kEspJZa0P5De1x7HNq+1GZMmzFg1tRO7AS8DV54AWev6QP0AVC2fKFyoRIaUxVeFQ6KMYpXFa+C
 KrqRTSMb4A2/Q36H4Na83Y12N4KWw0NmhMwARaJquWo5MAQffCB/oUmCSQKU1DKPeTD44ysnrpwA
 k5FWs61mA3je9LwJnO3j28cXjM9Z9LXoCymfajI1mWA1qO6ZumegszEpPikelJmV9pX24OXjo/PR
 AT09QzxDAI1qnGocYFCEKcJAE6Fz1JdDy7n75sS9DoO+Mak8vRq83q1yByi2aFv7TA70Gu1u2qUP
 NFqa0X9HPjgcGTXolfEQuP/VyFePATnfN+T99um2JDAgMACUkYqVipU/vwb/eA1QoUIFZJBKKvC/
 EiqhQOaD75vfD45vu3zu8jlYXG20ttFakG26VbpVIMflhJwAMzPNXM1caDYp5GbITchWRKdGp0Lz
 Z/d67vUEjurd9G7AGBMrEyto3LHd5HaTYY8quDq4GuJe2fnRzo+g45Tj3Y93B983LYsti6HF4O7v
 dH8HTC7Nfnn2y2AVEpQTlAMbK/Ys3rMYTCI2Dt04FPzWOvzD4R/gnWj+ofmH0PTFSJtIG1ANmtxk
 chNQRJHJHahIqcmqbgUrWm39Z0wk3F6mfgeAd42WeEDbe4MGt4uDjqf7+3qehHq1PqduFHjO6FrV
 tQ/QhUhG/ETDTlVVqar4RdQ/8ZkBA2DEFVfAwFSm/riQxfSiWUWzoPBqlX2VPViiDlYHg8LlvoHG
 QYZJhknQ4jn3Oe5zoGDd0G5Du0HWF5+WfloKdn5uHdw6AF+7lLiUQKOhtiNsR8B4q+UXl1+EGwMn
 bJqwCdLXXHK45AA7U78u/LoQeqds67StE/h1GlI/pB5cXPoM7DMQpqh3nNlxBq7VXg6+HAzp710y
 XDJASvqXsV/GwnDH1fdW3wNn3ajsUdlAoMJC8SboIyyaKI7BP32mj7b0hovhziMqq0FzWTHL9Aos
 i/Ed8WI3sL5pe76VLVTUKfMUI8EyOnNK5ljgcE96PryN66gDwBTTRzHAkRa0AEWZQWVQgeLZSutK
 awDlKuUqgPQz6WdArftc97kOUk7ZjrEdA81NzdPM04DBnOQkYMYe9oBm/f0h6LIyomNER7hVG9c3
 ri84c2rOqTmgWOvSz6Uf4PSd5jsNWM27NvHaRGjf675B7QlrHNYYKjbYiq1ATkxCWEIYVDhXJ1cn
 g9WS9L7pfcHetCC6IBrs8XD1cAV/PKd6ToV8jyqrKisoc1sdsjoE9Iv1mfpMYKKU4gXiruhpPA5G
 b5uxlWZg+UrTdVSDzyyLWNfOEL6o5eKgbmBzUBvb9Cwc3O3Y1XEY+Pl/2u3TbmDVyG2523IArzVe
 awBKi0qLQI5ccLngAopxfv39+gM3nZ53ev5hBjx4p/9CvVS9FAoyUqamTAXlhAivCC9QnTR/w/wN
 KBmvn6WfBfFFRbuLdoOb3ez5s+eD6UiLZRbLoGyYYr1iPRTpDPGGeHjma2OlsRJcxrfJaJMBqZrw
 5PBkuO0/c+HMhdDkWaPBaIAKqxvWN6yhpNW8d+a9A02q6/vW9wXlbtkgG6BsdvWd6jtwfLmN0cYI
 Pfc7JDokgmpn0rqkdVCnWee9zhvsPlQ7qZ1AEUczmkHuzPsj9YyN62DXwfBqoeVtSy+orJctNdWg
 C6+o0f8TFjhGj6YYql7TXgKwDVdLjoCihY/3LEtg8oKlHzwH9qsm9JiwDbb2jtoVtQv6vRjVKqoV
 2A/W2mntQN9fuU+5D1Jt1YfUh8DbxeVDlw/BCSecHjoFedwPtdN8/H38IXqsfxP/JlATV36k/AiY
 faHdq90LLY66DXMbBr32hx0JOwJ+vQOyA7JB5aK0V9qDcr1zP+d+8MW4IN8gX3j1Xftv7L8BKx0e
 eEDHPaOujroKczOTWye3hh67vDt4d4A+Dp6hnqFw8EDwvuB9kNru2xXfroCq7hXvV7wPTY96JHsk
 w8D64fOHz4e26zrO7zgfbjTVTtNOg30t0+amzYUsj6vNrzYHwz5DW0NbaNO3a0rXFBhSPXrR6EVg
 OcFqnZU77H6z0f5bW+A9X++PS7SgC7/1CR9CkxxN82c8wMPTvJv7GnDpaGqn1UCUTtFMUQhd1/c6
 3ysZ1Hnrm65vCrtWx6TFpMGt69eKrhWBdbpdsF0w9KwLPR16Gmw/cKt0qwTA9idPTX+0Nbv2IDaS
 63JdxKiXVEkVETNJl3QRGfULW7vyBzFMiqVYRLJ/ppybFEqhiPztQbnvWfIgOkqWZImI4kH+flIt
 1Q/J98aDaCHX5JqImEiapInI2/9SfED9Z+X9RUYvSG89+jMROPotiOCaEImIRO24Xjr5fZGqOYZJ
 1ZEi0k4yJVNEbohOdD+Rf+T3W1q5KldFxFVyJVdEbj7aTvi/5ygiR2okRySxU9mExE4izTRJ45tp
 RODoCRBpHpy0unmwSPzE4vj4iU9O1n/NYZw+UpbrI2H31sJ1u7fCHfO6vnfMQRGu2KkIh27p1gu6
 pYP/WOtS/7FPTpf68av4zyC7pjYwuwa+rLpX9WUVUMZ0ysCipXqTRUsY4dBkywgH0HZQhms7PDld
 T/8I+IwiPoPdXQvv7e4K2bfr3LJvA1AJ0GGB5eQOCyCwn83cwH5PXt5TPwJyB+ma5w6COHVhizg1
 6N8wJOrfAI2ZsrHGDF464eD60gmwW6ueaLcWGPrg9YR46kdAfL/i1+L7QWpFZVJqBXCH89wBnwzL
 Sz4Z0Os1mzG9XgPFYaYrDj95fU+tAYUZ+pLCDDiQU9TlQA5UjK8/VDEelP0Vg5X9IWRT400hm8Cl
 2KyvS3HD6Xz6DJjJdWbCeUNFwXkDHLlaMuLIVYD7G9FWK7S1rVbAoHGN2w0aB+pyhb+6vOHkPnUG
 1O425tXuhh3ae8k7tFBqX7+q1B6U0xSuymnQs5OtTc9O4Ftk2cG3qKHVPoUGXMurDryWB19NLz78
 1XQAsgCsj2gcrY9A5OImn0UuBo2Pwl/j09Bqf0cDyoMM/1MeBPkDdcfyB4J8wir55Pf7ITKGBTIG
 tl0syNx2Ee5G6CzuRgAPbjUFdrdeFtgdOvW0Unfq+fvp+PeF/8bk7asrzNsnMmXQDespg0QG7ruU
 PnCfyB7nQrc9ziKGFTLOsOK339Jn5FfPyMgXad/lbF37LiJwNAVEzCq+qTarEInZfrdfzHYR42LZ
 YFz8JA4ZHo3f3IB4TfGJeI2Iw6bEQw6bRODIeRDxGvdtrNc4kbM15Rlna367fMYMOWDMEFnePff1
 5d1FTD/9ZqXppyJwdAOIBMYlrwmME8luW+uf3fZJNu2j8ZtPQW12mHdvswM8VlkM8FgFhClfIwxS
 M6pUqRkwb122ybx1kD9Qdy5/4OPnuxOlm3gnCvb6F3681x/qRhus6kaDyUnVZJOTEHrafmLoaXB+
 2XSC88tPfob5RX4vZw/kFk09kCvi+FVSB8evRCBhOoho5NgdjYj8LTfr2N9yRWr/YrSo/cuvSKCW
 k6IWia0puBlbI2J+8PgM84M/TD0+W87O99kikhZTdSgtpuF6+C/xuy3C/Z1s3+vvBFHznG5EzQOT
 48pyk+OgV4ibXgEbxubFbRgL+zWF3+zXgOTxleQ9ev2VawwtK9fA9h4FO7b3gOqBhvLqgaB6Sfmh
 6iXoN9DuVL+B4NrbPM61d0N384fwezuc/51uQP53IiOsr3YaYS2ijEk4qowRgQQzEOnidb5DFy+R
 y0mViy4nPXq9xy6X9j92WcT2zEkX2zMikDAJRBz9klo6+olceKXivQuvNGDXfkR+932Ag5PmoIMT
 /PWGc7+/3gDvzZYnvTcD3H9Q7NsPyjd/+wEs/ui7fYs/grKo+rtlUT9fX/3zklj/PMT8/a59zN+h
 rFifUnb/KKE1QP837XL6vwnuQebu7kEN3b0fgSdmdS/JkF4iMZ3uro3pJGIz5USRzRQRSBgDItoz
 xxtrz4hE+323K9pPxLBSxhpW/riacwUVfc4ViLi6nnnJ1VUEjh4GEWv9iVvWepGD+qINB/UiMkxS
 ZFhD9+9f5onfkqyeadhYPVPkndBMl3dCRTRdjlVruvwwJbnEnn7GJVYkfkhxfvyQH67TbzZm6zeL
 zJl0s3rOJBFl0rEAZZIIHN0JIuEXUiT8gkjBFt3Sgt/gqeUnRYPdE86ZX7slZ75I8OHLVsGHRSAh
 AkQgoSuI9Ol08VyfTiLZy2qnZy8TyRxcMzxzsEjnbecHdN4mAkfjQMQy+/hpy2yRDW/neW14+/F1
 PWka7CzIeYbpSOcZMO26c9S069DqulZaXQfgDMCxkaVnjo2E6MO5G6MPwwGrorADVnDxVuW9i7cA
 NT6owctg0czLAP0dbQ/2d2zoCf3fp8EP43p0sSnp0QWizjllRJ0Diz2qWIs9YIiSu4Yo+Hj4neCP
 h8Mivhu3CNDPMI7UzwB1iVKlLoHQPfbPhe4Bp/amVk6P8We5hkLx/VBoaCGVHQwXKzvAlJLMsCkl
 sNEhT7fRAeSMLJIzAJg8KFoA0Hq2tqb1bDi4wmfBwRXgWqQtdv0DHC//uzT4CPgeywsqX8sLMPk5
 J7PJz0HnjVafdN4IwPQHRWweRAXA4JjGQwfHQMulZi+0XNrQ6h+Dhl6E/hXjFTlovCKyy+le+C4n
 EYf8xEMO+SJwpAJEmnVMCmnWUSSxc1nzxM4iclbK5WxDq/71/GGmoH+lrkIG11XAlhH5lVtGwOEh
 xbcOD4G+6Xb1fdPhZQ8Hv5c9wHyMcqf5mIZW++v5wxrwPcZjvGA8BqWv118tfR0a+arWNvIFdawi
 QB3b0Ooenz+8AU87f5hF+L+VPw1oYP4P4UM3QzheoHoAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTEt
 MDMtMjhUMDg6MzM6MDUtMDc6MDBYSEhCAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDExLTAzLTI4VDA4
 OjMzOjA1LTA3OjAwKRXw/gAAAFh0RVh0c3ZnOmJhc2UtdXJpAGZpbGU6Ly8vaG9tZS9oYXJkYWtl
 ci9zcmMvZG5zc2VjLWNoZWNrL2Ruc3NlYy1jaGVjay9pbWFnZXMvZG5zc2VjLWNoZWNrLnN2ZyiD
 IhcAAAAASUVORK5CYII=
