[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=DNSSEC-Nodes
Exec=dnssec-nodes
X-GNOME-FullName=DNS Visualization Tool
Icon=dnssec-nodes
Comment=Visualize the DNS as an interactive node map
StartupNotify=true
Categories=Network;Utility;System;Qt;
X-Desktop-File-Install-Version=0.16
