h1 { 
  background: #ff9999;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 { 
  background: #ffbbbb;
  padding-left: 5px;
}

h3 { 
  background: #eebbbb;
  padding-left: 5px;
  width: 70%;
}

div.indent { 
  margin-left: 30px;
  border: solid;
  padding-left: 5px;
  border-color: #ffffff #ffffff #ffffff #cc8888 ;
}

div.center { 
  align: center;
}

div.major { 
  border: solid;
  padding-left: 5px;
  top-padding: 5px;
#  border-color: #ddaaaa;
  border-color: #ddaaaa #ffffff #ffffff #ffffff;
# #ffffff #ffffff #ffdddd ;
#  background: #ffdddd;
}

table { 
  border: 5px;
  background: #cc8888;
  color: #ffffff
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 5px;
  border-color: #cc8888;
  border-style: solid;
  border-top-width: 1px;
  width: 80%;
  border-bottom-width: 5px;
}

td { 
  color: #ffffff
  padding-left: 10px;
  padding-right: 10px;
  background: #dd7777;
  text-align: center;
  font-weight: bold;
  width: 25%;
}

th { 
  text-align: center;
  font-weight: bold;
  font-style: underline;
  font-size: 125%;
  color: #ffffff;
  border: solid;
  border-color: #cc8888 #cc8888 #ffffff #cc8888;
}

a.toplink:link { color: #ffffff }
a.toplink:visited { color: #ffffff }
a.toplink:hover { background: #dd8888 }
