body {
  margin:0px;
  padding:5px;
  font-family:verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  color:#000;
  background-color:white;
  border-style: solid;
  border-width: 4px;
  border-color: 44f;
}

h1 { 
  background-color: #99f;
  background-image: url(screwdriver.png);
  background-position: 100px 50%;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: 310px;
  font-style: underline;
#  color: #008;
  font-weight: bold;
  color: #bbf;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.title { 
  background-color: #99f;
  background-position: 100px 50%;
  background-repeat: no-repeat;
  text-align: center;
  font-style: underline;
  font-weight: bold;
  font-size: 2.5em;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border-color: 66e;
  border-style: outset;
  border-width: 4px;
}

div.slogan { 
  font-style: italic;
  text-align: center;
  font-size: .8em;
  padding-top: .5em;
}

h2 { 
  background: #bbf;
  padding-left: 5px;
  border-color: #fff #fff #66e #fff;
  border-style: solid;
  border-width: 2px;
  padding-top: 3px;
}

h3 { 
  background: #bbe;
  padding-left: 5px;
  border-color: #fff #fff #66e #fff;
  border-style: solid;
  border-width: 2px;
}

div.indent { 
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
}

div.center { 
  align: center;
}

div.major { 
  border: solid;
  padding-left: 5px;
  top-padding: 5px;
  border-color: #66e #fff #fff #fff;
}

table.soft { 
  margin: 25px;
  border: 2px;
  background: #dddddd;
  text-align: left;
  border-color: #bbbbbb;
  border-style: solid;
  width: 100%;
}

td.tdtitle { 
  width: 35%;
  color: #000000;
  text-align: left;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  font-weight: bold;
}

td { 
  color: #000000;
  text-align: left;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  font-weight: bold;
}

/* application tables */
th.thtitle { 
  color: #000000;
  font-size: 1.2em;
  text-align: center;
  padding: 2px;
  border: 2px;
  border-style: outset;
  border-color: #bbbbbb;
  background: #bbb;
  font-weight: bold;
}

td.description { 
  color: #000000;
  border: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  wideth: 25%;
}


/*
 *  table of links at the top
 */
table.links { 
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
  width: 90%;
}

td.tdlinks { 
  color: #000;
  padding-left: 7px;
  padding-right: 7px;
  background: #aaf;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  width: 17%;
  border-color: #99f;
  border-width: 2px;
  border-style: outset;
}

th.thlinks { 
  text-align: center;
  font-weight: bold;
  font-style: underline;
  font-size: 1.4em;
  color: #000;
  background: #99f;
  border: outset;
  border-color: #66e #66e #fff #66e;
}

a.toplink:link { 
  color: #000;
  text-decoration:none;
}
a.toplink:visited { 
  color: #000;
  text-decoration:none;
}
a.toplink:hover { 
  width: 100%;
  background: #66e;
  text-decoration:none;
}

li.b { 
  font-weight: bold;
  font-size: 1.2em;
}
