h1 { 
  background-color: #9999ff;
  background-image: url(screwdriver.png);
  background-position: 100px 50%;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: 310px;
  font-style: underline;
#  color: #000088;
  font-weight: bold;
  color: #bbbbff;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 { 
  background: #bbbbff;
  padding-left: 5px;
}

h3 { 
  background: #bbbbee;
  padding-left: 5px;
  width: 80%;
}

div.indent { 
  margin-left: 30px;
  border: solid;
  padding-left: 5px;
  border-color: #ffffff #ffffff #ffffff #8888cc ;
}

div.center { 
  align: center;
}

div.major { 
  border: solid;
  padding-left: 5px;
  top-padding: 5px;
  border-color: #aaaadd #ffffff #ffffff #ffffff;
}

table.links { 
  border: 5px;
  background: #6666ee;
  color: #ffffff;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 5px;
  border-color: #6666ee;
  border-style: solid;
  border-top-width: 1px;
  width: 80%;
  border-bottom-width: 5px;
}

td.tdlinks { 
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  background: #7777ee;
  text-align: center;
  font-weight: bold;
  width: 25%;
}

th.thlinks { 
  text-align: center;
  font-weight: bold;
  font-style: underline;
  font-size: 125%;
  color: #ffffff;
  border: solid;
  border-color: #6666ee #6666ee #ffffff #6666ee;
}

table.soft { 
  border: 5px;
  background: #dddddd;
  text-align: left;
  border-color: #bbbbbb;
  border-style: solid;
  border-top-width: 5px;
  width: 80%;
  border-bottom-width: 5px;
}

td.tdtitle { 
  width: 35%;
  color: #000000;
  text-align: left;
  padding: 5px;
  border: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  font-weight: bold;
}

td.description { 
  color: #000000;
  border: 1px;
  border-style: solid;
  border-color: #bbbbbb;
  wideth: 65%;
}

a.toplink:link { color: #ffffff }
a.toplink:visited { color: #ffffff }
a.toplink:hover { background: #6666dd }
