[Desktop Entry]
Name=Lookup
GenericName=DNS lookup utility that supports DNSSEC validation
Comment=none
Exec=/usr/bin/lookup
Icon=lookup
Terminal=false
Type=Application
Categories=Application;Network;
StartupWMClass=lookup
StartupNotify=true
