/*
   This file demonstrates how DNSSEC can be used to prevent the
   loading of content that can modify the original page.  Even though
   the original page's DNS lookup may be correct, secondary content
   can be insecure when hosted under a different domain.
*/

a#dnssecsecure {
    background-image:url(http://www.dnssec-tools.org/test/thumbsup-223.png);
    width:  223px;
    height: 315px;
    display:block;
}

